@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
            font-weight: normal;
}

body{
    width: 1282px;
    margin: 0 auto;
    padding: 0;
    font-family: MyriadProRegular, sans-serif;
}
.header__logo{
    font-size: 80px;
    line-height: 180px;
    text-decoration: none;
    color: #000000;
    
}
.header__logo.logo__mda{
    color: #49cbff;
}
.header__menu{
    background-color:  #35444f;
    font-size: 24px;
    text-align: center;
    padding: 21px 0;    
}
.header__menu>.menu__item{
    text-decoration: none;
    color: white;
    padding: 21px 3%;
    margin-left: -5px;
}
.header__menu>.menu__item:hover{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 21px calc(3% - 1px);
    background-color:  #222f3a;
}
.main{
    margin-top: 51px;
}
.main__menu_left{
    float: left;
    width: 344px;
    border: 1px solid #000000;
    font-size: 28px;
    margin: 0;
    
}
.menu_left__item{
    text-decoration: none;
    display: block;
    color:  #485863;
    padding: 22px 44px;
}
.menu_left__item:hover{
    background-color: #dcdcdc;
    color: #000000;
    padding-left: 70px;
    transition: all .5s;
}
.figure{
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #000000;
    width: 885px;    
    text-align: center;
    padding: 74px 0;
    float: right;
    margin: 0;
}
.figure__img{
    padding: 74px 0;
}
.figure__img:hover{
    transform: scale(1.7);
    transition: all 1s;
}
.main_text{
    float: right;
    width: 815px;
    text-align: left;
    padding: 50px 35px;
    clear: both;
}
.footer{
    margin-bottom: 30px;
    clear: both;
}
.footer__menu{ 
    background-color:  #b5b8bb;
    font-size: 28px;
    text-align: left;
    padding: 21px 44px;
}
.footer__menu>.menu__item{
    text-decoration: none;
    color: #000000;
    padding: 21px 10px;
}
.footer__menu>.menu__item:hover{
    text-decoration: underline;
    color:  #3181a6;
    transition: all .5s;
}
.footer__menu>.footer__copyright{
    font-size: 24px;
    padding-left: 181px;
    text-decoration: none;
}
.header__menu>.menu__item.selected{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 21px calc(3% - 1px);
    background-color:  #222f3a;
}
.menu_left__item.selected{
    background-color: #dcdcdc;
    color: #000000;
    padding-left: 70px;
}
.footer__menu>.menu__item.selected{
    text-decoration: underline;
    color:  #3181a6
}